body{
    color: white;
    background-image: url("https://orig00.deviantart.net/6bae/f/2013/231/3/1/dark_blue_wallpaper_by_malkowitch-d6iuhnh.jpg");
    background-size: cover;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
